@import url(https://cdnjs.cloudflare.com/ajax/libs/gridly/1.4.1/prefixed/gridly.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.row {
    height: 100vh;
}

body {
    margin: 0;
    background:#514f4f;
}

#editor {
    height: 100vh;
    font-size:1.2rem;
}

.col-result {
    overflow: auto;
}

.col.col-result {
    background:#2E2E2E;
    color: #fff;
    padding: 10px;
    font-family: 'Cutive Mono', Monaco, monospace;
    font-weight: 600;
}

#result{
    background-color:#2E2E2E;
    font-size:1rem;
    margin-bottom:1rem;
}

/*http://cssdeck.com/labs/custom-webkit-scrollbars/**/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(113,112,107,0.1);
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background: red;
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}

.footer {
    position: fixed;
    z-index: 99;
    left: 10px;
    bottom: 21px;
    color: #000000;
    background: #fff;
    padding: 10px;
    font-family: 'Cutive Mono', Monaco, monospace;
    border:2px solid black;
    box-shadow:inset 0px -3px 3px 0px red;
}

a {
    color: #1D75AB;
    text-decoration: none;
}

textarea{
    position : absolute;
    left : -100%;
}

#copy{
    padding:1rem;
    font-weight: 700;
    margin-left:32rem;
    margin-top:1.2rem;
}

#fullScreen{
   width:100%;
   padding:1rem;
   margin-bottom:1rem;
}
