@import url(https://cdnjs.cloudflare.com/ajax/libs/gridly/1.4.1/prefixed/gridly.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.row {
    height: 100vh;
}

body {
    margin: 0;
}

#editor {
    height: 100vh;
}

.col-result {
    overflow: auto;
}

.col.col-result {
    background: #27ae60;
    color: #fff;
    padding: 10px;
    font-family: 'Cutive Mono', Monaco, monospace;
    font-weight: 600;
}

/*http://cssdeck.com/labs/custom-webkit-scrollbars/**/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(113,112,107,0.1);
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background: red;
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: rgba(0,0,0,.2);
    -webkit-border-radius: 6px;
}

.footer {
    position: fixed;
    z-index: 99;
    right: 10px;
    bottom: 21px;
    color: #000000;
    background: #fff;
    padding: 10px;
    font-family: 'Cutive Mono', Monaco, monospace;
}

a {
    color: #1D75AB;
    text-decoration: none;
}
